* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  font-family:Arial,sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color:#663399;
  color:white;
  padding:50px;
  text-align:center;
}

header h1 {
  margin-bottom:16px;
}

nav a {
  color:white;
  margin:15px;
  font-size:18px;
}

nav a:hover {
  text-decoration:underline;
}

main {
  padding: 40px;
}

.featured-vault,
.popular-albums {
  background-color: #663399;
  color: black;
  padding: 20px;
}

.featured-vault h2,
.popular-albums h2 {
  color: white;
}

.track-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-left: 20px;
}

.track {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.track p {
  font-size: 18px;
  margin: 0;
}

.popular-albums h2 {
  font-size: 24px;
  margin-bottom: 16px;
  color: white;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px 100px; /* Increased horizontal gap */
}

.album {
  background-color: #fff;
  padding: 15px;
  box-shadow: 10px 6px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.album img {
  width: 100%;}

.album p {
  font-size: 16px;
  color: #663399; 
}


footer p {
  font-size: 14px;
}

.album:nth-child(odd) {
  background-color: #f0f0f0;
}

.album:nth-child(3n) {
  margin-bottom: 40px;
}

body {
  font-family: Arial, sans-serif;
}

header h1 {
  font-size: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav a {
  font-weight: bold;
  color: white;
}
